/* HERO */
.hero-carousel { width:100%; }
.hero-slide {
    background-size:cover;
    background-position:center;
}

.min-vh-70{
    min-height: 70vh !important;
}

.hero-text h1 { font-weight:900; color:#042352; font-size: 45px;}
.hero-text p { font-size:1.3rem; }
.btn-hero {
    background:#ff8c00;
    color:#fff;
    border-radius:12px;
    padding:14px 30px;
}

/* CATEGORÍAS */
.categories-section { padding:40px 0; }
.category-card {
    background:#fff;
    border-radius:16px;
    box-shadow:0 10px 30px rgba(0,0,0,.1);
    text-align:center;
    padding:20px;
}
.category-card img { width:100%; height:120px; object-fit:contain; }
.category-card span { display:block; margin-top:10px; }

/* OFERTAS */
.offers-card {
    background:linear-gradient(135deg,#1D0084,#251038);
    border-radius:30px;
    padding:40px;
}
.offer-product {
    background:#fff;
    border-radius:16px;
    padding:20px;
    position:relative;
    text-align:center;
}
.discount-badge {
    position:absolute;
    top:10px;
    right:10px;
    background:#ff8c00;
    color:#fff;
    padding:5px 10px;
    border-radius:8px;
}

/* PRODUCTOS */
.section-header {
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.section-header a { text-decoration:none; color:#000; }
.product-card {
    background:#fff;
    border-radius:16px;
    padding:20px;
}
.fade-line {
    height:2px;
    background:linear-gradient(to right, transparent, #000, transparent);
    margin:10px 0;
}
.product-footer {
    display:flex;
    justify-content:space-between;
}

.bg-warning1 {
    background: linear-gradient(135deg, #021736, #251038) !important;
}

.product-card {
    background: #fff;
    border-radius: 14px;
    padding: 20px;
    box-shadow: 0 6px 16px rgba(0,0,0,0.06);
}

/* CATEGORÍAS */
.category-card {
    text-align: center;
    cursor: pointer;
}

.category-card img {
    max-height: 110px;
    object-fit: contain;
    margin: 0 auto;
}

.category-card h6 {
    font-weight: 600;
    margin-top: 12px;
    color: #222;
}






.icon {
    width: 20px;
    height: 20px;
    fill: currentColor;
}

.icon-btn {
    background: none;
    border: none;
    cursor: pointer;
    color: #333;
}

.search-wrapper {
    position: relative;
}

.search-form {
    position: absolute;
    right: 0;
    top: 120%;
    width: 240px;
    opacity: 0;
    pointer-events: none;
    transition: 0.25s;
}

.search-form input {
    width: 100%;
    padding: 8px 12px;
    border-radius: 10px;
    border: 1px solid #ddd;
}

.search-wrapper.active .search-form {
    opacity: 1;
    pointer-events: auto;
}


.icon-btn {
    background: none;
    border: none;
    font-size: 1.2rem;
    color: #333;
    cursor: pointer;
}

.icon-btn:hover {
    color: #000;
}

.user-dropdown {
    border: none;
    background: transparent;
}

.avatar-fallback {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}

.dropdown-menu {
    border-radius: 12px;
    min-width: 220px;
}

.thumb-img {
    height: 70px;
    cursor: pointer;
    transition: transform .2s;
}
.thumb-img:hover {
    transform: scale(1.05);
}




.thumbsSwiper {
    padding: 5px 0;
}

.thumbsSwiper .swiper-slide {
    width: auto;
}

.thumb-img.active {
    border: 2px solid #0d6efd;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: #0d6efd !important;
}


.btn-success {
    color: #0d6efd;
    background-color: transparent;
    border-color: #0d6efd;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #0b5ed7;
    --bs-btn-hover-border-color: #0a58ca;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #0a58ca;
    --bs-btn-active-border-color: #0a53be;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #0d6efd;
    --bs-btn-disabled-border-color: #0d6efd;
}